.ResumeContainer{
	display: none;
	position: absolute;
	height: 100%;
	width: 100%;	
	left: 0;
	top: 0;	
	margin: 0 auto;	
}

.ResumeDiv{
	margin: 0 auto;
	min-width: 640px;
	max-width: 825px;
} 

.ResumeA {
	position: absolute;
    width: 210px;
    margin-top: -100px;
	margin-left: -105px;
    left: 50%;
}
	
#iframe{
	visibility: hidden;
	width: 100%;
	min-width: 640px;
	min-height: 1750px;
}